XML/ej.1.1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT coches (coche+)>
<!ELEMENT coche (marca, modelo, puertas, color, precio)>
<!ATTLIST coche matricula CDATA #REQUIRED>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT puertas (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT precio (#PCDATA)> 